<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Art Gallery</title>
        <link href="css/grid.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap" rel="stylesheet">
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js"></script> -->
        <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="js/home.js"></script>
    </head>
</html>

<body id="gallery-bg">
    <h2 class="hidden">Modern Art Galley</h2>

    <section id="art-section">

        <div id="header">
            <img src="images/modern.svg" alt="3D Letter" id="modern">
            <img src="images/art.svg" alt="3D Letter" id="art">
            <img src="images/gallery.svg" alt="3D Letter" id="gallery">
        </div>

        <div id="app" class="grid-con">

            <div class="col-span-full m-col-span-full">
                <div v-if="loadingSpinner" class="loading-spinner">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="25" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></rect><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="85" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></rect><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="145" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></rect></svg>
                </div>

                <div v-if="error" class="col-span-full m-col-span-full">{{error}}</div>
            </div>
            
            <div v-for="painting in paintingsData" :class="'col-span-full m-col-span-full l-col-span-6 painting-con'">
                <div @click="getPainting(painting.artist_id)" class="painting-image">
                    <img v-bind:src="`images/${painting.image_url}`" alt="{{painting.title}}" :class="{ 'portrait-img': painting.painting_id === 8 }">
                </div>

                <div class="artwork-label">
                    <div class="before">
                        <h3>{{painting.title}}</h3>
                        <p>Published Year: {{painting.publishedyear}}</p>
                        <p v-if="error">{{error}}</p>
                    </div>

                    <div :class="{'show-after': painting.artist_id === selectedArtistId }" class="after">

                        <div class="col-span-full m-col-span-full">
                            <div v-if="loading" class="loading">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="25" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></rect><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="85" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></rect><rect fill="#0211FF" stroke="#0211FF" stroke-width="7" width="30" height="30" x="145" y="50"><animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></rect></svg>
                            </div>
            
                            <div v-if="error" class="col-span-full m-col-span-full">{{error}}</div>
                        </div>
    

                        <h3>Artist Name:</h3>
                        <p>{{name}}</p>
                        <h3>Lifes Year:</h3>
                        <p>{{lifedates}}</p>
                        <h3>Biography:</h3>
                        <p>{{background}}</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>