body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
}

#gallery-bg {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;

}

#art-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.painting {
    margin: 30px;
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.painting-image {
    border: 10px solid rgb(44, 44, 44);
    filter: drop-shadow(5px 5px rgba(128, 128, 128, 0.678));
    width: 100%;
}

.artwork-label {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    left: 0;
    transition: all .5s ease;
    transform: translateY(5px);
    text-align: left;
}

.painting:hover {
    transform: scale(1.01);

    .artwork-label {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-button {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    .line {
        background-color: rgb(0, 0, 0);
        height: 4px;
        width: 90%;
        position: absolute;
        border-radius: 10px;
    }   

    .line:nth-child(1) {
        transform: rotate(40deg) translate(8px, 9px);
    }

    .line:nth-child(2) {
        transform: rotate(-40deg) translate(-8px, 9px);
    }

}

.artist {
    background-color: white;
    text-align: center;
    padding: 40px;
    position: absolute;
    height: 100vh;
    width: 100%;
    // visibility: hidden;

    .second-image {
        width: 90%;
    }

    h3, p {
        text-align: left;
    }

    .artist-details {
        margin: 30px;
        padding: 10px;
        border-top: 1px solid rgba(202, 202, 202, 0.696);
        border-left: 1px solid rgb(202, 202, 202, 0.696);
        box-shadow: 5px 5px 10px rgb(95, 95, 95);
    }
}


@media screen and (min-width: 768px) {

    .painting {
        margin: 50px 30px;
        position: relative;
        cursor: pointer;
        text-align: center;
        
    }
    
    .painting-image {
        border: 10px solid rgb(44, 44, 44);
        filter: drop-shadow(5px 5px rgba(128, 128, 128, 0.678));
        width: 85%;
    }
    
    .artwork-label {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        position: absolute;
        width: 85%;
        bottom: 0;
        opacity: 0;
        left: 7.5%;
        transition: all .5s ease;
        transform: translateY(5px);
        text-align: left;
    }

    .artist {
        background-color: white;
        text-align: center;
        padding: 40px;
        position: absolute;
        height: 100vh;
        width: 100%;
        // visibility: hidden;
    
        .second-image {
            width: 70%;
        }
    
        h3, p {
            text-align: left;
        }
        .artist-details {
            margin: 20px 15%;
        }
    }
}

@media screen and (min-width: 1200px) {

    .painting {
        margin: 50px 30px;
        position: relative;
        cursor: pointer;
        text-align: center;
        
    }
    
    .painting-image {
        border: 10px solid rgb(44, 44, 44);
        filter: drop-shadow(5px 5px rgba(128, 128, 128, 0.678));
        width: 60%;
    }
    
    .artwork-label {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 15px;
        position: absolute;
        width: 60%;
        bottom: 0;
        opacity: 0;
        left: 20%;
        transition: all .5s ease;
        transform: translateY(5px);
        text-align: left;
    }

    .close-button {
        margin-right: 100px;
        margin-top: 30px;
    }

    .artist {
        background-color: white;
        text-align: center;
        padding: 0px;
        position: absolute;
        height: 100vh;
        width: 100%;
        // visibility: hidden;
    
        .second-image {
            width: 45%;
        }
    
        h3, p {
            text-align: left;
        }
        .artist-details {
            margin: 20px 30%;
        }
    }

}