@use '../abstracts/variables' as v;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

h2, h3, p {
    font-family: v.$font-family;
}


#gallery-bg {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
}

#art-section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

#header {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;

    img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    #art {
        width: 30%;
    }
}

.loading-spinner {
    width: 80px;
    margin-left: 20px;
}

.loading {
    width: 40px;
    margin: 5px;
}


#app {
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
}

#app::-webkit-scrollbar {
    display: none;
}

.painting-con {
    height: 90vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    box-sizing: border-box;
}

.painting-image {
    margin: 0;
    width: 80%;
    cursor: pointer;
    padding: 0;
    transition: all 1s ease;

    img {
        filter: drop-shadow(5px 5px rgba(128, 128, 128, 0.678));
        border: 10px solid rgb(44, 44, 44);
    }
}

.painting-image:hover {
    transform: scale(1.1);
}


.artwork-label {
    text-align: left;
    position: relative;
    margin: 20px auto;
    width: 350px;
    height: 200px;
}

.before {
    font-family: v.$font-family;
    width: 100%;
    height: 50%;
    padding: 20px;
    z-index: 2;
    position: relative;
    font-size: 15px;
    // line-height: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 5px rgb(81, 81, 81);

}


.after {
    font-family: v.$font-family;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 5px rgb(81, 81, 81);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px 20px 0 20px;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;

    p {
        padding-bottom: 5px;
    }
}

.show-after {
    opacity: 1;
    pointer-events: auto;
}



@media screen and (min-width: 786px) {

    #header {
        padding: 0;
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
    
        img {
            width: 30%;
            display: inline;
            margin: 0 auto;
        }
    
        #art {
            width: 15%;
        }
    }

    #app {
        height: 85vh;
    }

    .painting-con {
        height:100vh;
        margin: 20px;
    }
    

    .painting-image {
        width: 50%;
    }

    .artwork-label {
        width: 400px;
        height: 200px;
    }

    
}

@media screen and (min-width: 1200px) {

    #header {
        padding: 0;
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
    
        img {
            width: 30%;
            display: inline;
            margin: 0 auto;
        }
    
        #art {
            width: 15%;
        }
    }

    #app {
        height: 90vh;
    }

    .painting-con {
        height: 30vh;
        margin: 20px;
    }


    .painting-image {
        width: 70%;
    }

    .painting-con {
        height: 100vh;
        box-sizing: border-box;
    }
    

    .artwork-label {
        width: 400px;
        height: 200px;
    }


}